.container {
  max-width: 95vw !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.wrapper {
  max-width: 80vw !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
img{
  object-fit: cover;
}


.modal-loader,
.modal.fade.show {
  z-index: 9998 !important;
}

.text-link{
  cursor: pointer;
  color: var(--color-hover);
  &:hover{
    text-decoration: underline;
  } 
}